*,
*::after,
*::before
{
    margin:0;
    padding:0;
    box-sizing:inherit;
}
html{
    //Definition of the pixel size of the root element(rem)
    font-size:62.5%;
    

    
    @include respond(tab-land){
        font-size:56.25%; //1rem=8px 9/16 =50%
    }
    @include respond(tab-port){
        font-size:50%;//1rem=8px 8/16 =50%
    }
    
    @include respond(big-desktop){
        font-size:75%;//1rem=12 ,12/16=75%
    }
}

body{
    margin: 1rem;
    box-sizing:border-box;
    padding:3 rem;
    @include respond(tab-port){
        padding:0;
        margin:0
    }
}