*,
*::after,
*::before
{
    margin:0;
    padding:0;
    box-sizing:inherit;
}
html{
    //Definition of the pixel size of the root element
    font-size:62.5%;
}
body{
    margin: 1rem;
    box-sizing:border-box;
}